.loading {
    margin: auto;
    border-radius: 50%;
    border-top: 4px solid rgb(61, 61, 61);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .service-container{
    padding: 20px;
  }
  
  .service-con{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .service-card{
    border-radius: 20px;
    background-color: #E8E7E7;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: margin 0.3s;
    /* box-shadow: rgba(63, 14, 133, 0.815) 0px 8px 15px, rgba(63, 14, 133, 0.05) 0px 5px 10px; */

    /* background: linear-gradient(199deg,#003a17,#003c46,#00d0ff); */
    background-size: 180% 180%;
    /* animation: gradient-animation 3s ease infinite; */
  }
  
/*    
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   */
  
  .service-icon{
    margin-bottom: 20px;
  }

  .home-project-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
  }

  .project-card{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    border-radius: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    width: 400px;
    height: 100px;
    text-align: center;
  }


  @media screen and (min-width:968px) {
    .service-con{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  
    .service-card{
      box-shadow: none;
      width: 300px;
      /* transition: scale 0.3; */
    }
    .service-card:hover{
      scale: 1.1;
      transition: all 0.9s;
    }
    
  }