.loading {
    margin: auto;
    border-radius: 50%;
    border-top: 4px solid rgb(61, 61, 61);
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .service-container{
    padding: 20px;
  }
  
  .service-con{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .service-card{
    border-radius: 20px;
    background-color: #E8E7E7;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: margin 0.3s;

    background-size: 180% 180%;
  }
  

  
  .service-icon{
    margin-bottom: 20px;
  }

  .home-project-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
    width: 100%;
    margin: auto;
    place-content: center;
  }

  .project-card{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    border-radius: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    width: 320px;
    height: 100px;
    text-align: center;
    position: relative;
  }

  .project-card:hover{
    scale: 1.1;
    transition: all 0.9s;
  }
  .circle {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    padding: 5px;
  }



  @media screen and (min-width:968px) {
    
    .service-con{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  
    .service-card{
      box-shadow: none;
      width: 300px;
      /* transition: scale 0.3; */
    }
    .service-card:hover{
      scale: 1.1;
      transition: all 0.9s;
    }
    
  }