@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Open Sans", sans-serif;
  }

  .gradient-text {
    background-image: linear-gradient(to right top, #0049b6, #05a3ff, #008793, #00bf72, #a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }

 